extends _layout.pug

block append head
    title= head.title + " Bye"

block append content
    div(class="container")
        h1= "Good bye"
        p= "Thanks for playing."
        p= "Created by István Schoffhauzer"